html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #001833 !important;
  /*prevent copy and paste*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
